.big-banner{
    background-image: url('img/3000.jpeg');
    background-size: 100%;
}

header.masthead {
    position: relative;
    background-color: #343a40;
    background: url("img/unnamed.jpg") no-repeat center center;
    background-size: cover;
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
  
  header.masthead .overlay {
    position: absolute;
    background-color: #212529;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;
  }
  
  header.masthead h1 {
    font-size: 2rem;
  }