.big-banner{
    background-image: url('img/3000.jpeg');
    background-size: 100%;
}

.about-page{
    background-image: url('img/money.jpg');
    background-size: 100%;
}

#about{
    color: #DCDCDC;;
	font-size: 56px;
	-webkit-text-stroke: 1px #282828;
	text-shadow: 0px 4px 4px #282828;
}

#about2{
    color: #000000;;
	-webkit-text-stroke: 1px #282828;
	text-shadow: 0px 4px 4px #282828;
}

#about3{
    color: #000000;;
	-webkit-text-stroke: 1px #282828;
	text-shadow: 0px 4px 4px #282828;
}